.carousel {

    width: 1000px;
    margin: auto;
}

.carousel-item img {

    height: 500px;
    width: 1000px;



}

img {
    width: 150px;
    height: 150px;

}


.navegacion {
    background-color: black;
    border-bottom: black solid;

    a {
        display: flex !important;
        justify-content: center;

    }

    img {
        width: 150px;
        height: 150px;
        background-color: black;

    }


}

h1 {
    color: black;
    text-align: center;
}

.btn-primary {
    border-radius: 50px;
    color: black;

}



.catalogo {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    align-items: center;
    justify-items: center;
}

.catalogo div {

    border-radius: 30px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
    width: 400px;
    box-shadow: 3px 3px 3px 3px grey;

}

.catalogo div img {
    height: 300px;
    width: 300px;

}

.catalogo button {
    display: flex;
    border-radius: 10px;
}

h3 {
    color: red;
}

.footer {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    justify-items: center;
    background-color: black;
    color: white;
    margin-top: 10px;
}

/* SECCION CONTACTANOS */
.contactanos {
    padding: 10px;
}

.btn-succes {
    color: white;
    background-color: green;
}

.btn-ig {
    color: white;
    background-color: blueviolet;
}

.btn-face {
    color: white;
    background-color: blue;
}

.texto_mail {
    margin-top: 20px;
}



/* RESPONSIVE */
@media (max-width:1360px) {
    .catalogo {
        grid-template-columns: 6fr 6fr;

    }

}

@media (max-width:992px) {
    .catalogo {
        grid-template-columns: 12fr;

    }

    .footer {
        grid-template-columns: 1fr 1fr;

    }

}

@media (min-width: 1360px) {
    .navbar-expand-lg {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
}