img{
    width: 150px;
    height: 150px;
    
}


.navegacion{
    background-color: black;
    
img{
    width: 100px;
    height: 100px;
    background-color: black;
}
}

h1{
   color: black; 
text-align: center;
}

.btn-primary {
    border-radius: 50px;
    color: black;
    
}

.fila2{
 border:black solid

}

.catalogo{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr ;
    align-items: center;
    justify-items: center;
}

.catalogo div{
   
   border-radius: 30px;
padding: 10px; 
margin: 10px;
display: flex;
flex-direction: column;
align-items: center;
height: 450px;
width: 400px;
box-shadow: 3px 3px 3px 3px grey;

}

.catalogo div img{
    height: 300px;
    width: 300px;
    
 }
 .catalogo button{
    display: flex; 
    border-radius: 10px;
 }

 h3{
    color: red;  
 }

.footer{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr 3fr;
    justify-items: center;
   background-color: grey;
   color: white;
   margin-top: 10px;
}